
  <nav class="navbar">  
          <div class="brand"><a routerLink="/home"><img id="logo" src="assets/images/Logo.png" alt="Logo" /></a></div>
                <div class="brand-text">Lyngby Bryghus<br/><span>Håndbrygget specialøl fra Djursland</span></div>
                <div class="menu">
                                      
                    <ul id="desktopMenu">
                            <li *ngFor="let cat of data" routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', cat.ID]">{{cat.Name}}</a></li>        
    
                    </ul>

                <div id="toggleMenu" class="fa fa-bars" (click)="toggleMenu()"></div>
              </div>            
            
        </nav>
        <div id="menu-panel">
                <ul class="" id="mobileMenu">
                    
                        <li *ngFor="let cat of data" routerLinkActive="active" class="mobileMenuItem"><a [routerLink]="['/beerlist', cat.ID]">{{cat.Name}}</a></li>
                 </ul>
        </div>
       
<section id="content">
 
  <router-outlet></router-outlet>
  <app-add-category></app-add-category>
</section>
  
 


