<h1>Opret kategori</h1>
<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <table>
    <tr>
      <td><label for="Name">Kategorinavn:</label></td>
      <td><input type="text"  id="Name" ngModel name="Name" required></td>
    </tr><tr>
      <td><label for="Sortering">Sortering:</label></td>
      <td><input type="number" id="Sortering" ngModel name="Sortering" required></td>
    </tr>
  </table>
  
  <button type="submit" [disabled]="!f.valid">Submit</button>
  {{ extractData }}



<!--
<hr>
<div class="row" *ngIf="submitted">

<h3>Your Data</h3>
<p>Kategorinavn: {{ Name | json }}</p>
<p>Sortering: {{ Sortering }}</p>
<p>Data: {{ data | json }}</p>
<p>extractData: {{ extractData }}</p>
</div>
-->

