
<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  
      <label for="Name">Kategorinavn<label>
      <input type="text"  id="Name" ngModel name="Name" required>
    
  
      <label for="Sortering">Sortering</label>
      <input type="number" id="Sortering" value="0" ngModel name="Sortering" required>
       
  
  
  
  <button type="submit" [disabled]="!f.valid">Submit</button>




<hr>
<div class="row" *ngIf="submitted">

<h3>Your Data</h3>
<p>Kategorinavn: {{ Name | json }}</p>
<p>Sortering: {{ Sortering }}</p>
<p>Data: {{ data | json }}</p>
<p>extractData: {{ extractData }}</p>
</div>
